# Python
__pycache__/
*.pyc
.venv/
venv/

# Logs
*.log
logs/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Data files
*.csv
*.parquet
*.json
*.parquet*
*SUCCESS*